<center>
<br>
<%= link_to "tw一覧画面にもどる", tws_path %>
<h1>tw詳細画面</h1>
<figure>
<%= image_tag '/icon.png' %>
</figure>
<div class="name">tw廃<span class="name_reply">@rock_tango</span>
<p>内容：<%= @tw.content %></p>